[Tt]arget
[Aa]rchive
[Vv]env
[Aa]tiff_results
[Cc]argo.lock
[Nn]ode_modules


.vscode
.env
Cargo.lock
flamegraph.svg
perf.data
map_generation/cache
map_generation/test*
heaptrack*

leaflet_demo/package-lock.json