[Tt]arget
[Aa]rchive
[Vv]env
[Aa]tiff_results
[Cc]argo.lock
[Nn]ode_modules

.vscode
.env
Cargo.lock
flamegraph.svg
perf.data
map_generation/cache/garstang_cache.json
map_generation/tests/*
leaflet_demo/package-lock.json